:root {
    --bg:0, 255, 171;
}

.most-recent-box {
    padding: 20px;
    background-color: rgba(var(--bg), 0.05);
    outline: 3px dashed rgba(var(--bg), 0.4);
    margin-bottom: 15px;
    border-radius: 15px;
}

.most-recent-box nav {
    padding: 0px;
    margin: 0px;
}

.most-recent-box nav a {
    padding: 0px;
}

.bold {
    font-weight: bold;
}